/* ejemplo1.css   DS18016  */
fichero {background-color:green;}
ficha {background-color:red; display:block;} 
nombre {color:white; display:inline;} 
apellido {color:yellow; display:inline;}
direccion {color:yellow;font-size:1cm;}