/* ejercicio1b.css   DS18016  */
fichero {background-color:rgb(255, 0, 64);}
ficha {background-color:rgb(185, 194, 109); } 
nombre {color:white; display:inline;} 
apellido {color:yellow; display:inline;}
direccion {color:yellow;font-size:1cm; display:none;}
telefono {color:green; display:inline;} 
email {color:blue; display:inline;} 
url {color:black; display:inline;} 
dui {color:black; display:inline;} 
isss {color:black; display:inline;} 
afp {color:black; display:inline;} 