/* ejercicio1a.css   DS18016  */
fichero {background-color:rgb(41, 202, 114);}
ficha {background-color:rgb(97, 141, 235);} 
nombre {color:white; display:inline;} 
apellido {color:yellow; display:inline;}
direccion {color:yellow;font-size:1cm; display:none;}
telefono {color:green; display:inline;} 
email {color:blue; display:inline;} 
url {color:black; display:inline;} 